In [176]:
import pandas as pd
import matplotlib.pyplot as plt

In [177]:
pokemon_df = pd.read_csv('data/Pokemon.csv')
pokemon_df.head()

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [178]:
pokemon_df.shape

(1072, 13)

In [179]:
pokemon_df.isnull().sum()/len(pokemon_df)*100

number         0.000000
name           0.000000
type1          0.000000
type2         46.455224
total          0.000000
hp             0.000000
attack         0.000000
defense        0.000000
sp_attack      0.000000
sp_defense     0.000000
speed          0.000000
generation     0.000000
legendary      0.000000
dtype: float64

In [180]:
pokemon_df['type2'] = pokemon_df['type2'].fillna(pokemon_df['type1'])

In [181]:
pokemon_df.duplicated().sum()

np.int64(0)

In [182]:
pokemon_df['type2'].value_counts()

type2
Flying      118
Water        94
Psychic      87
Normal       84
Grass        72
Fairy        64
Fighting     62
Poison       58
Ground       57
Fire         52
Steel        49
Dragon       48
Electric     45
Dark         42
Ghost        41
Ice          38
Rock         31
Bug          29
Graass        1
Name: count, dtype: int64

In [183]:
# pokemon_df['type2'].value_counts().plot(kind='bar')
# plt.xticks(rotation=45)
# plt.show()

In [184]:
pokemon_df['type1'] = pokemon_df['type1'].str.replace('Graass','Grass', regex=False)
pokemon_df['type2'] = pokemon_df['type2'].str.replace('Graass','Grass', regex=False)

In [185]:
water_pokemon = pokemon_df.copy()
water_pokemon = pokemon_df[(pokemon_df['type1'] == 'Water') | (pokemon_df['type2'] == 'Water')]
water_pokemon.sample(10)

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
778,658,Ash-Greninja,Water,Dark,640,72,145,67,153,71,132,6,False
137,99,Kingler,Water,Water,475,55,130,115,50,50,75,1,False
292,230,Kingdra,Water,Dragon,540,75,95,95,95,95,85,2,False
447,367,Huntail,Water,Water,485,55,104,105,94,75,52,3,False
189,141,Kabutops,Rock,Water,495,60,115,105,65,70,80,1,False
704,593,Jellicent,Water,Ghost,480,100,60,70,85,105,60,5,False
98,73,Tentacruel,Water,Poison,515,80,70,65,80,120,100,1,False
324,259,Marshtomp,Water,Ground,405,70,85,70,60,70,50,3,False
323,258,Mudkip,Water,Water,310,50,70,50,50,50,40,3,False
160,117,Seadra,Water,Water,440,55,65,95,95,45,85,1,False

In [186]:
ground_pokemon = pokemon_df.copy()
ground_pokemon = pokemon_df[(pokemon_df['type1'] == 'Ground') | (pokemon_df['type2'] == 'Ground')]
ground_pokemon.sample(10)

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
469,383,Primal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
907,769,Sandygast,Ghost,Ground,320,55,55,80,70,45,15,7,False
421,344,Claydol,Ground,Psychic,500,60,70,105,70,120,75,3,False
405,329,Vibrava,Ground,Dragon,340,50,70,50,50,50,70,3,False
997,844,Gigantamax Sandaconda,Ground,Ground,510,72,107,125,65,70,71,8,False
399,323,Mega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
996,844,Sandaconda,Ground,Ground,510,72,107,125,65,70,71,8,False
153,111,Rhyhorn,Ground,Rock,345,80,85,95,30,30,25,1,False
657,552,Krokorok,Ground,Dark,351,60,82,45,45,45,74,5,False
560,464,Rhyperior,Ground,Rock,535,115,140,130,55,55,40,4,False

In [187]:
print(len(water_pokemon))
print(len(ground_pokemon))

158
81

In [188]:
pokemons = pd.concat([water_pokemon,ground_pokemon])
pokemons = pokemons.drop_duplicates(subset='name')

In [189]:
pokemons['name'].value_counts()

name
Squirtle                 1
Wartortle                1
Blastoise                1
Mega Blastoise           1
Gigantamax Blasoise      1
                        ..
Palossand                1
Silicobra                1
Sandaconda               1
Gigantamax Sandaconda    1
Runerigus                1
Name: count, Length: 229, dtype: int64

In [190]:
pokemons['is_strong'] = pokemons['attack'].apply(lambda x: 'Es fuerte' if x > 60 else 'Es debil')
pokemons.head()

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,is_strong
11,7,Squirtle,Water,Water,314,44,48,65,50,64,43,1,False,Es debil
12,8,Wartortle,Water,Water,405,59,63,80,65,80,58,1,False,Es fuerte
13,9,Blastoise,Water,Water,530,79,83,100,85,105,78,1,False,Es fuerte
14,9,Mega Blastoise,Water,Water,630,79,103,120,135,115,78,1,False,Es fuerte
15,9,Gigantamax Blasoise,Blastoise,Water,530,79,83,100,85,105,78,1,False,Es fuerte

In [191]:
pokemons

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary,is_strong
11,7,Squirtle,Water,Water,314,44,48,65,50,64,43,1,False,Es debil
12,8,Wartortle,Water,Water,405,59,63,80,65,80,58,1,False,Es fuerte
13,9,Blastoise,Water,Water,530,79,83,100,85,105,78,1,False,Es fuerte
14,9,Mega Blastoise,Water,Water,630,79,103,120,135,115,78,1,False,Es fuerte
15,9,Gigantamax Blasoise,Blastoise,Water,530,79,83,100,85,105,78,1,False,Es fuerte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,770,Palossand,Ghost,Ground,480,85,75,110,100,75,35,7,False,Es fuerte
995,843,Silicobra,Ground,Ground,315,52,57,75,35,50,46,8,False,Es debil
996,844,Sandaconda,Ground,Ground,510,72,107,125,65,70,71,8,False,Es fuerte
997,844,Gigantamax Sandaconda,Ground,Ground,510,72,107,125,65,70,71,8,False,Es fuerte
1025,867,Runerigus,Ground,Ghost,483,58,95,145,50,105,30,8,False,Es fuerte

In [192]:
pokemons.to_csv('data/pokemons.csv',index=False)